/*============
    Basics
============*/
#basics{
    display: grid;
    margin: 20px;
    gap: 20px;

    @include md{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid-template-areas: 
        "b1 b1 ."
        "b2 b3 b4"
        "b5 b6 b7";
    }

    //@include lg{
        //grid-template-columns: auto 1200px auto;
    //}

    #b1{
        grid-area: b1;
    }
    #b2{
        grid-area: b2;
    }
    #b3{
        grid-area: b3;
    }
    #b4{
        grid-area: b4;
    }
    #b5{
        grid-area: b5;
    }
    #b6{
        grid-area: b6;
    }
    #b7{
        grid-area: b7;
    }

}