/*==============
    Essentails
===============*/
#essentials{
    display: grid;
    margin-right: 20px;
    margin-left: 20px;

    div{
        ul{
        grid-template-columns: 5fr 2fr;
        }
    }
}