/*===============
    Shade Plants
===============*/
#shadeplants{
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;

    @include md{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid-template-areas: 
        "s1 s1 s1"
        "s2 s3 s4";
    }

    #s1{
        grid-area: s1;
    }
    #s2{
        grid-area: s2;
    }
    #s3{
        grid-area: s3;
    }
    #s5{
        grid-area: s5;
    }
}